mixin ui-checkbox(id, data, mods)
  -
    const baseName = 'ui-checkbox'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .ui-checkbox(class=allMods)
    input(id=id name=id type='checkbox')&attributes(attributes)
    if data
      label(for=id)
        if data.p3
          +ui-p3(data.p3, data.p3mods)
          block
