.table {
  display: grid;
  gap: 1px;
  background-color: #ccc;
  &[data-columns='3'] {
    .table__row {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &[data-columns='4'] {
    .table__row {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &__row {
    display: grid;
    gap: 1px;
  }
  &__item {
    position: relative;
    padding: 20px;
    background-color: #fff;
  }
}
