mixin ui-select(mods, ...data)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-select${mod.trim()}` : `${mod.trim()}__ui-select`).join(' ').trim() : ''

  .ui-select(class=allMods)
    select&attributes(attributes)
      option
      each item in data
        option=item
      block
