mixin slider(mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `slider${mod.trim()}` : `${mod.trim()}__slider`).join(' ').trim() : ''

  .slider(class=allMods)&attributes(attributes)
    .swiper
      .swiper-wrapper
        .swiper-slide
          +ui-svg('icon_fb', 'slider')
        .swiper-slide
          +ui-svg('icon_ig', 'slider')
        .swiper-slide
          +ui-svg('icon_tt', 'slider')
      +ui-swiper-pagination
      .swiper-button-prev
      .swiper-button-next
    block
