mixin ui-radio(data, mods)
  -
    var baseName = 'ui-radio';
    var allMods = '';
      if(typeof(mods) !== 'undefined' && mods) {
        var modsList = mods.split(',');
        for (var i = 0; i < modsList.length; i++) {
          if (modsList[i].trim()[0] == '-') {
            allMods = allMods + baseName + modsList[i].trim() + ' ';
          } else {
            allMods = allMods + modsList[i].trim() + '__' + baseName + ' ';
          }
        }
      }

  .ui-radio(class=allMods)
    input(id=data.id name=data.id type='radio')&attributes(attributes)
    label(for=data.id)
      if data.p3
        +ui-p3(data.p3, data.p3mods)
      block
