.ui-tooltip {
  display: inline-flex;
  button {
    width: 18px;
    height: 16px;
    padding: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='16' fill='none' viewBox='0 0 18 16'%3E%3Cpath fill='%23797979' d='M9 16c-2.875 0-5.5-1.5-6.937-4-1.438-2.469-1.438-5.5 0-8A8.02 8.02 0 0 1 9 0c2.844 0 5.469 1.531 6.906 4 1.438 2.5 1.438 5.531 0 8A7.94 7.94 0 0 1 9 16M6.281 5.188v.03a.78.78 0 0 0 .469.97.734.734 0 0 0 .938-.47l.03-.03a.235.235 0 0 1 .22-.157H9.75c.281 0 .5.188.5.469a.49.49 0 0 1-.25.406l-1.375.782c-.25.125-.375.375-.375.656v.406c0 .438.313.75.75.75.406 0 .719-.312.75-.719l1-.594c.594-.343 1-1 1-1.687 0-1.094-.906-2-2-2H7.938c-.75 0-1.407.469-1.657 1.188M8 11c0 .563.438 1 1 1 .531 0 1-.437 1-1 0-.531-.469-1-1-1-.562 0-1 .469-1 1'/%3E%3C/svg%3E");
    border: none;
    outline: none;
    cursor: pointer;
  }
  .tippy-box {
    color: $black;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 12px 16px rgba(0 0 0 / 0.25);
  }
}
