mixin section(mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `section${mod.trim()}` : `${mod.trim()}__section`).join(' ').trim() : ''

  section.section(class=allMods)&attributes(attributes)
    block
