mixin ui-textarea(mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-textarea${mod.trim()}` : `${mod.trim()}__ui-textarea`).join(' ').trim() : ''

  .ui-textarea(class=allMods)
    textarea&attributes(attributes)
    .ui-textarea__counter
