mixin ui-button(data, mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-button${mod.trim()}` : `${mod.trim()}__ui-button`).join(' ').trim() : ''

  if (attributes.href)
    a.ui-button(href='#' class=allMods)&attributes(attributes)
      +ui-button-inner(data)
      block

  else
    button.ui-button(class=allMods)&attributes(attributes)
      +ui-button-inner(data)
      block

mixin ui-button-inner(data)
  if data
    if data.leftIcon
      +ui-svg(data.leftIcon, 'ui-button')
    if data.p1
      +ui-p1(data.p1, data.p1mods)
    if data.p2
      +ui-p2(data.p2, data.p2mods)
    if data.p3
      +ui-p3(data.p3, data.p3mods)
    if data.p4
      +ui-p4(data.p4, data.p4mods)
    if data.p5
      +ui-p5(data.p5, data.p5mods)
    if data.rightIcon
      +ui-svg(data.rightIcon, 'ui-button')
