mixin ui-button(data, mods)
  -
    const baseName = 'ui-button'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  if (attributes.href)
    a.ui-button(class=allMods)&attributes(attributes)
      if data
        if data.p1
          +ui-p1(data.p1, data.mods)
        if data.p2
          +ui-p2(data.p2, data.mods)
        if data.p3
          +ui-p3(data.p3, data.mods)
        if data.p4
          +ui-p4(data.p4, data.mods)
        if data.p5
          +ui-p5(data.p5, data.mods)
        if data.p6
          +ui-p6(data.p6, data.mods)
      block

  else
    button.ui-button(class=allMods)&attributes(attributes)
      if data
        if data.p1
          +ui-p1(data.p1, data.mods)
        if data.p2
          +ui-p2(data.p2, data.mods)
        if data.p3
          +ui-p3(data.p3, data.mods)
        if data.p4
          +ui-p4(data.p4, data.mods)
        if data.p5
          +ui-p5(data.p5, data.mods)
        if data.p6
          +ui-p6(data.p6, data.mods)
      block
