.ui-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
  @include media-hover {
    color: teal;
    border-color: teal;
  }
  &[disabled] {
    color: inherit;
    background-color: #ccc;
    border-color: #ccc;
    pointer-events: none;
    opacity: 0.6;
  }
  &--bg-teal {
    color: #fff;
    background: teal;
    @include media-hover {
      color: teal;
      background: #fff;
    }
  }
  &--border-teal {
    border: 1px solid teal;
  }
}
