mixin ui-button(text, mods)
  -
    const baseName = 'ui-button'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  if (attributes.href)
    a.ui-button(class=allMods)&attributes(attributes)
      if text.p1
        +ui-p1(text.p1, text.mods)
      if text.p2
        +ui-p2(text.p2, text.mods)
      if text.p3
        +ui-p3(text.p3, text.mods)
      if text.p4
        +ui-p4(text.p4, text.mods)
      if text.p5
        +ui-p5(text.p5, text.mods)
      if text.p6
        +ui-p6(text.p6, text.mods)
      block

  else
    button.ui-button(class=allMods)&attributes(attributes)
      if text.p1
        +ui-p1(text.p1, text.mods)
      if text.p2
        +ui-p2(text.p2, text.mods)
      if text.p3
        +ui-p3(text.p3, text.mods)
      if text.p4
        +ui-p4(text.p4, text.mods)
      if text.p5
        +ui-p5(text.p5, text.mods)
      if text.p6
        +ui-p6(text.p6, text.mods)
      block
