mixin ui-accordion(data, mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-accordion${mod.trim()}` : `${mod.trim()}__ui-accordion`).join(' ').trim() : ''

  .ui-accordion(class=allMods)&attributes(attributes)
    .ui-accordion__head
      if data
        if data.p1
          +ui-p1(data.p1, data.p1mods)
        if data.p3
          +ui-p3(data.p3, data.p3mods)
      .ui-accordion__toggle
    .ui-accordion__body
      block
