mixin ui-svg(data, mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-svg${mod.trim()}` : `${mod.trim()}__ui-svg`).join(' ').trim() : ''

  svg.ui-svg(class=allMods, class='ui-svg--' + data)&attributes(attributes)
    use(xlink:href='#' + data)
