mixin ui-datepicker(data, mods)
  -
    const baseName = 'ui-datepicker'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }
    let randomId = Math.random().toString(36).replace(/[^\da-z]+/g, '').slice(0, 6)

  .ui-datepicker(class=allMods)&attributes(attributes)
    input(id=randomId readonly)
    label(for=randomId)
      if data
        if data.p3
          +ui-p3(data.p3, data.p3mods)
