extends ../../layouts/layout

block variables
  -
    const pageTitle = 'Repository blocks'
    const orderListItems = [
      { p1: 'Lorem' },
      { p1: 'Lorem' },
      { p1: 'Lorem' }
    ]
    const unorderListItems = [
      { title: 'Lorem', descr: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ex, aliquam dolores laboriosam eaque, itaque mollitia doloremque earum officiis velit recusandae explicabo aliquid, sed enim ipsum dolore corrupti repellat eligendi!' },
      { title: 'Lorem', descr: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ex voluptates quas, iure quasi perferendis doloremque unde nesciunt et eaque illo vitae exercitationem beatae distinctio cumque fugiat, ducimus, porro enim.' },
      { title: 'Lorem', descr: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto corrupti natus veniam. Architecto, omnis suscipit reiciendis perferendis ea dolore quidem esse culpa, nemo quasi nisi vitae tenetur quo eligendi alias.' }
    ]
    const tabHeadings = [
      {
        p3: 'Tab #1'
      },
      {
        p3: 'Tab #2'
      },
      {
        p3: 'Tab #3'
      }
    ]

block content
  main
    .inner
      +ui-h1(pageTitle)
      +section()
        +ui-h4('UI Buttons')
        br
        +ui-button('Кнопка-ссылка')(href='/')
        +ui-button('Кнопка-button')
        br
        br
        +ui-button('Кнопка-ссылка', '--filled')(href='/')
        +ui-button('Кнопка-button', '--filled')
      +section()
        +ui-h4('UI Checkbox')
        br
        +ui-checkbox('id', 'I love ')
          a(href='') semolina
      +section()
        +ui-h4('UI Datepicker')
        br
        +ui-h6('UI Date single')
        +ui-datepicker('', '--single')
        br
        +ui-h6('UI Date range')
        +ui-datepicker('', '--range')
        br
        +ui-h6('UI Date time')
        +ui-datepicker('', '--time')
      +section()
        +ui-h4('Titles')
        br
        .flex(style='display: flex; align-items: baseline')
          +ui-h1('Text')
          +ui-h2('Text')
          +ui-h3('Text')
          +ui-h4('Text')
          +ui-h5('Text')
          +ui-h6('Text')
        br
        br
        +ui-h4('Paragraphs')
        br
        .flex(style='display: flex; align-items: baseline')
          +ui-p1('Text')
          +ui-p2('Text')
          +ui-p3('Text')
          +ui-p4('Text')
          +ui-p5('Text')
          +ui-p6('Text')
          +ui-p7('Text')
          +ui-p8('Text')
      +section()
        +ui-h4('UI Input')
        br
        +ui-input('phone', 'Phone')(required)
      +section()
        +ui-h4('UI Range')
        br
        +ui-h6('UI Range single')
        +ui-range()(data-start=5000 data-step=100 data-min=100 data-max=10000)
        br
        +ui-h6('UI Date double')
        +ui-range()(data-start=[2500, 7500] data-step=100 data-min=100 data-max=10000)
      +section()
        +ui-h4('UI Select')
        br
        +ui-select('', '1', '2', '3', '4')(placeholder='Цель кредита')
      +section()
        +ui-h4('UI Textarea')
        br
        +ui-textarea()(maxlength='256')
      +section()
        +ui-h4('UI Tooltip')
        br
        +ui-tooltip('Tooltip text')
      +section()
        +ui-h4('UI order list')
        br
        +ui-ol(orderListItems)
        br
        br
        +ui-h4('UI unorder list')
        br
        +ui-ul(unorderListItems)
      +section()
        +ui-h4('Breadcrumbs')
        br
        +breadcrumbs()
          +breadcrumbs-item('Main', '/')
          +breadcrumbs-item('News')
      +section
        +ui-h4('From validation')
        br
        form(action='')
          +ui-input('name', 'Name')(required)
          br
          +ui-input('mail', 'Mail')(required)
          br
          +ui-input('phone', 'Phone')(required)
          br
          +ui-select('', '1', '2', '3', '4')#select(placeholder='Цель кредита' required)
          br
          +ui-checkbox('agreement', 'I love ')(required)
          br
          +ui-button('Кнопка-submit', '', true)
      +section()
        +ui-h4('Gallery')
        br
        +gallery()
          +gallery-item('fancy_img1.png')
          +gallery-item('fancy_img2.png')
          +gallery-item('fancy_img3.png')
      +section()
        +ui-h4('Pagination')
        br
        +pagination()
      +section()
        +ui-h4('Slider')
        br
        +slider()
      +section
        +ui-h4('Table')
          br
        +table(data-columns='3')
      +section()
        +ui-h4('Tabs')
        br
        +tabs
          +tabs-head(tabHeadings)
          +tabs-body
            +tabs-item('--active')
              span Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quaerat aut quas ex error id temporibus molestiae ipsa necessitatibus quos hic in praesentium atque natus inventore eius, aliquam dolore libero.
            +tabs-item
              span Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed dolore officiis eum ullam consequatur quaerat nobis? Ut excepturi eum quod modi a nulla! Fugiat cum aut quos, perferendis vero vel?
            +tabs-item
              span Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi adipisci qui et necessitatibus culpa eligendi sit odit, obcaecati quia quo? Recusandae ipsum qui mollitia totam maxime possimus quam repellat earum!
      +section()
        +ui-h4('Lazy load test')
        br
        img.lazyload(src='../../images/swim.jpg' data-src='../../images/fancy_img1.png' alt='')
      +section()
        +ui-h4('Lazy load test')
        br
        img.lazyload(src='../../images/swim.jpg' data-src='../../images/fancy_img2.png' alt='')
      +section()
        +ui-h4('Lazy load test')
        br
        img.lazyload(src='../../images/swim.jpg' data-src='../../images/fancy_img3.png' alt='')
