mixin svg(iconName, mods)
  -
    const baseName = 'svg'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  svg.svg(class=allMods, class='svg--' + iconName)&attributes(attributes)
    use(xlink:href='#' + iconName)
