mixin ui-ul(data, mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-ul${mod.trim()}` : `${mod.trim()}__ui-ul`).join(' ').trim() : ''

  ul.ui-ul(class=allMods)&attributes(attributes)
    if data
      each item in data
        if item.p2
          li
            +ui-p2(item.p2, item.p2mods)
    block
